[Unit]
Description=Docker with flannel
Requires=flannel.service
After=flannel.service
[Service]
EnvironmentFile=/run/flannel/subnet.env
#ExecStart=/usr/bin/docker daemon --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU} -s overlay
ExecStart=/usr/bin/docker daemon --bip=${FLANNEL_SUBNET} -s overlay
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
Delegate=yes
MountFlags=slave
[Install]
WantedBy=multi-user.target
