[Unit]
Description=Kubernetes Scheduler
Documentation=http://kubernetes.io/docs/admin/kube-scheduler/
[Service]
ExecStart=/opt/kubernetes/bin/kube-scheduler \
  --master=http://{{pillar['ip']}}:8080 \
  --leader-elect=true \
  --v=2
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
